# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Obsolete files, kept for reference in the refactor
backend/static/styles
backend/templates

# Ignore documentation and media not meant for repo
Development_Plan.docx
Overview.txt
image.png
git_101.txt
tasks.txt

# Cursor
.cursor