body {
    --accent-border: #f5deb3;
    color: #F3E6AB;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-section {
    display: flex;
    align-items: center; /* vertically aligns image + text */
    justify-content: center; /* centres horizontally */
    gap: 1rem;
    background-color: #0F5A36; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    height: 70px;
    width: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.divider {
    border: none;
    margin: 0;
}

.bottom-section {
    background-color: #054423; 
    flex: 1;
    display: flex;
    padding: 2rem 0;
}


/* Upload Box */

.upload-box {
    background-color: #F6EEC2;
    color: #054423;
    padding: 2rem;
    margin: 0 15rem;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    border: none;
}

.upload-box h2 {
    font-size: 2.5rem;
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #054423;
}

.upload-box label {
    font-size: 1.25rem;
    font-family: "Segoe UI", sans-serif;
    display: block;
    margin-bottom: 0.5rem;
    color: #054423;
}


/* File Upload Wrapper */

.file-upload-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.file-upload-label {
    background-color: #fdf6dd;
    color: #054423;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.file-upload-label:hover {
    background-color: #f2e6b8; 
    border-color: #b5a57a;     
}

.file-upload-wrapper input[type="file"] {
    display: none;
}

#file-name {
    font-size: 0.95rem;
    color: #054423;
}

/* Load Existing Data Button */

.load-button {
    background-color: #fdf6dd;
    color: #054423;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    font-weight: 500;
    display: inline-block;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.load-button:hover {
    background-color: #f2e6b8;
    border-color: #b5a57a;
}

.file-actions {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.25rem;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

/* Other Buttons */

button {
    background-color: #e4bb72;
    color: #054423;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.75rem 0.75rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #d2a860;
}

button:disabled {
    background-color: #cccaca;
    color: #817f7feb;
    cursor: not-allowed;
    box-shadow: none;
    border: none;
}

.select-button.selected {
    background-color: #99c794;
    border: 1px solid #054423;
}

#clean-button {
    padding: 0.5rem 0.9rem;
    font-weight: 500;
    border-radius: 0.4rem;
}

