.logo-header {
    display: flex;
    align-items: center; /* vertically aligns image + text */
    justify-content: center; /* centres horizontally */
    gap: 1rem;
    background-color: #0F5A36; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    height: 70px;
    width: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}