/* FileInput */

.file-upload-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.file-upload-wrapper .file-upload-label {
    background-color: #fdf6dd;
    color: #054423;
    padding: 0.4rem 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.file-upload-wrapper .file-upload-label:hover {
    background-color: #f2e6b8; 
    border-color: #b5a57a;     
}

.file-upload-wrapper input[type="file"] {
    display: none;
}

#file-name {
    font-size: 0.95rem;
    color: #054423;
}